
<div class="container mt-5 pl-5" style="border-color: blue 5%;" >

<h1>Confirm  {{Qdetails.qname}}</h1><br><br>
<h4>Your Slot Timing is {{result.startHr}} : {{result.startMin}} - {{result.endHr}} : {{result.endMin}}</h4><br>
Are you sure that you want to confirm this slot?<br><br>
<a href="/confirm/{{Qdetails._id}}/{{result.slotNo}}" class="btn btn-success" onclick="return confirm('Your ticket is confirmed' )">Confirm</a>
</div>

<div class="container mt-5 pl-5">
<a href="#" class="btn btn-primary">Go to Payment</a>
</div>