<section>
    <div class="container mt-5">
        <div class="row">
            {{#each queues}}
            <div class="col-md-3">
                <div class="card" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.qname}}</h5>
                        <p class="card-category">{{this.startHr}}:{{this.startMin}}-{{this.endHr}}:{{this.endMin}}</p>
                        <p class="card-category">{{this.slots}} slots</p>
                        <a href="/select-slot/{{this._id}}" class="btn btn-primary">Select</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

