<section>
    <div class="container">
        <h1 class="text-center">Your Queues</h1>
        <div class="row">
            {{#each queues}}
            <div class="col-md-3">
                <div class="card" style="width: 10rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{this.qname}}</h5>
                        <p class="card-category">Category</p>
                        <p class="card-category">{{this.startHr}}:{{this.startMin}}-{{this.endHr}}:{{this.endMin}}</p>
                        <p class="card-category">{{this.slots}} Slots</p>
                        <a href="/Qmanager/viewQueue/{{this._id}}" class="btn btn-primary">Select</a>
                        <a href="/Qmanager/edit/{{this._id}}" class="btn btn-success">Edit</a>
                        <a href="/Qmanager/delete/{{this._id}}" class="btn btn-danger" onclick="return confirm('Do you want to delete the Queue {{this.qname}} ')">Delete</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="mt-5">
            <h1 class="text-center mb-5">Create A Queue</h1>
            <a href="/Qmanager/create-queue" class="btn btn-primary btn-lg btn-block">Create your Queue</a>
        </div>
    </div>
</section>